/* * {
  box-sizing: border-box;
} */
html {
  background: rgba(black, 0.03);
}
body, html {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
button{
  text-align: center;
  background-color: #6082e8;
  border: 1px solid #6082e8;
  color: white;
  font-size: 14px;
  display: inline-block;
  border-radius: 8px;
  vertical-align: middle;
  min-height: 30px;
}
button:hover {
  background-color: #3e589e; /* Green */
  color: white;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  overflow-y: scroll;
  width: 70%;
}

.chat-output {
  /* flex: 1; */
  padding: 20px;
  display: flex;
  background: white;
  flex-direction: column;

}
  .chat-output div {
    margin: 0 0 10px 0;
  }
  .chat-options{
    display: flex;
    overflow-x: scroll;
  }
    .game-option-button{
      border-radius: 8px;
      margin-right: 10px;
      font-size: 16px;
    }
  .message {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .bot-message {
    background: #eee;
  }
  .user-message {
    background:  #0FB0DF;
    color: white;
    float: right;
  }
.chat-input {
  margin: 10px 20px;
  position: relative;
}
  .user-input{
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    height: 35px;
  }
  .user-input-send{
    background: #0FB0DF none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 30px;
    text-align: center;
  }

.flow-chart{
  width: 400px;
  height: 300px;
  font-size: 12px;
}
  .flow-chart-whole {
    width: 700px;
    height: 300px;
    display: flex;
  }
  .flow-chart-left {
    width: 400px;
  }
  .flow-chart-right {
    width: 300px;
    font-size: 14px;
    margin-left: 10px;
  }
.bar-chart{
  width: 800px;
  height: 300px;
  font-size: 12px;
}
  .bar-chart-whole{
    width: 800px;
    height: 300px;
    display: flex;
  }
  .bar-chart-left{
    width: 500px;
    height: 300px;
    font-size: 12px;
  }
  .bar-chart-right{
    width: 300px;
    height: 300px;
    font-size: 12px;
  }
    .bar-chart-right-flex{
      display: flex;
      width: 300px;
    }
    .bar-chart-right-flex-left{
      width: 150px;
    }
    .bar-chart-right-flex-right{
      width: 150px;
    }
    .bar-chart-right p {
      font-size: 14px;
    }
.season-record-vis{
  width: 500px;
  height: 250px;
  font-size: 12px;
}
.shot-chart {
  width: 400px;
  background: url('../images/bg-court-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
  .shot-chart-whole {
    width: 700px;
    height: 250px;
    display: flex;
  }
  .shot-chart-left {
    width: 400px;
    background: url('../images/bg-court-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .shot-chart-right {
    width: 300px;
    font-size: 11px;
    margin-left: 10px;
  }
    .shot-chart-right p{
      font-size: 13px;
      margin-bottom: 5px;
      margin-top: 3px;
      margin-left: 5px;
    }
    .shot-chart-menu-block{
      margin-bottom: 5px;
    }
    input[type=radio] {
      margin-left:5px;
    }
    input[type=checkbox] {
      margin-left: 5px;
    }
.team-stats{
  width: 700px;
  height: 100px;
}
.player-stats-table {
  width: 500px;
  height: 400px;
}
th{
  font-size: 12px;
}
td{
  font-size: 12px;
}


.tooltip {
  background-color:white;
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
  display: inline;
  line-height: 1;
  color: rgba(0, 0, 0);
  content: "\25BC";
  text-align: center;
}
.line {fill: none;stroke-width: 2px;}
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

.gridline line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}
.gridline path{
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

/* study page css */


.navs{
  position: fixed;
  width: 70%;
  left: 15%;
  bottom: 0;
  background-color: white;
  padding-bottom: 10px;
  border-top: 1px solid gray;
  height:70px;
  display: inline-block;
}
.last-button{
  float: left;
  font-size: 16px;
  height: 35px;
  margin-top: 5px;
}
.next-button{
  float: right;
  font-size: 16px;
  height: 35px;
  margin-top: 5px;
}

.section{
  margin: auto;
  padding: 0px;
  overflow-y: scroll;
  width: 70%;
  margin-top: 50px;
  margin-bottom: 70px;
}
.tutorial-1, .tutorial-2, .tutorial-3, .tutorial-vis, .task-1, .task-2, .task-3, .task-4, .exploration-1, .exploration-2, .exploration-3{
  margin: auto;
  padding: 0px;
  overflow-y: hidden;
  width: 95%;
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  height: 100%;
}
  .vertical-line{
    height:100%;
    border-left: 1px solid #a3a1a0;
    margin-bottom: 10px;
  }
  .chatbot-question-left{
    width: 25%;
    height: 100%;
    margin-right: 10px;
    overflow-y: scroll;
  }
  .chatbot-right, .tutorial-vis-right{
    width: 75%;
    overflow-y: scroll;
  }
    .tutorial-vis-long-block{
      width: 100%;
      display: flex;
    }
    .tutorial-vis-block{
      width: min(35%, 500px);
      height: 300px;
      margin-left: max(5%, 100px);
      margin-top: min(10%, 30px);
    }
    .tutorial-vis-block-vis{
      width: 400px;
      height: 250px;
      margin-bottom: 15px;
    }
    .tutorial-vis-block-shot{
      background: url('../images/bg-court-logo.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
    .tutorial-vis-block-text{
      width: 100%;
    }
    .chatbot-right-espn{
      margin: 100px 100px;
    }
.submit-section{
  font-size: 18px;
  display: inline-block;
  margin: 30px 0;
  width: 100%;
}
.submitbutton{
  font-size: 18px;
}
.deactivate-game-option-button{
  background-color: #8f8e8d;
  cursor: default;
  border: 1px solid #8f8e8d;
}
.survey-grid{
  display: flex;
  margin: 10px 0;
}
.survey-grid-option{
  margin-left: 15px;
}
fieldset{
  margin: 10px 0;
}
.feedback-flow{
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.feedback-flow-question{
  width: 40%;
}
.feedback-flow-image{
  width: 50%;
  margin-left: 10%;
}
  .feedback-flow-image-img{
    width: 100%;
  }
